* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --fonte-texto: 'Poppins', sans-serif;
    --fonte-titulo: 'Poppins', sans-serif;
}


body {
  background-color: black;
}

.header {
  margin: 0 auto;
  max-width: 75rem;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
  font-family: var(--fonte-texto);
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
}

.menu__toggle {
  display: none;
}

.sub__titulo {
  color: #ffffff;
  margin: 1rem;
  padding: 0.5rem;
  font-family: var(--fonte-titulo);
}

.carrossel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.filme__container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
  padding: 10px 0;
}

.filme__container::-webkit-scrollbar {
  display: none; 
}

.slider-img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  flex-shrink: 0;
}

.sliderButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 3rem;
  font-size: 24px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);         
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;           
}

.sliderButton:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.3); 
}



.button__esquerda {
  left: 0;
  height: 5rem;
  
}

.button__direita {
  right: 0;
  height: 5rem;
}

.serie__container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
  padding: 10px 0;
}