* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.header {
    margin: 0 auto;
    max-width: 75rem;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
}

.menu__toggle {
    display: none;
}